[Desktop Entry]
Version=1.1
Type=Application
Encoding=UTF-8
Name=FlashTool
Comment=OM5P-AC Flash Tool
Icon=/home/pi/Desktop/om5pFlashTool/icon.png
Exec=lxterminal -e "/home/pi/Desktop/om5pFlashTool/flashTool.sh"
Type=Application
MimeType=text/plain
Terminal=true
Categories=Education
